.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
